# IDE / PyCharm
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.env

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Training artifacts
runs/
results/**/weights/
results/**/*.jpg
results/**/*.png
results/**/*.csv
seg_out/

qt-material/

# Model weights
*.pt

# Datasets / cache
dataset/**/*.zip
dataset/**/labels.cache
