для тестов pak1 - p7 pak2 - p3 и p16 pak3 - p3 и p10
![img.png](img.png)